{% extends 'base.html.twig' %}

{% block title %}Hello SchoolController!
{% endblock %}

{% block body %}

	{% include "header/header.html.twig" %}

	<div class="container">
		{{form(form)}}
		</div>


	{% endblock %}
