{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!
{% endblock %}

{% block body %}
	<div class="logo">
		<img src="{{"assets/img/FaySchool.svg"}}" alt="" class="logo">
	</div>
	<div id="container">
		<div class="subject">
			<br>
			<h1>Quel matiere ?</h1>
		</div>

		<div class="second-container">
			<span class="img">
				<img src="https://png.pngtree.com/png-vector/20190328/ourlarge/pngtree-vector-health-icon-c-png-image_872167.jpg" width="120px" class="picture">
				<a href="" class="text">Santé</a>
			</span>
			<span class="img">
				<img src="https://static.vecteezy.com/system/resources/previews/002/206/174/original/school-building-icon-free-vector.jpg" width="120px" class="picture">
				<a href="" class="text">Professeur</a>
			</span>

		</div>
	</div>
{% endblock %}
